<div class="card">
  <div class="card-header">
    Account Requisites
  </div>

  <div class="card-body">
    <div class="wizard">
      <a> Client Information </a>
    </div>
    <div class="card-body">
      <form [formGroup]="clientAccountFormGroup">

        <div class="form-group row">
          <label
            class="col-md-2 col-form-label"
            for="productNameId"
            >Client Number</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              formControlName='clientNumber'
            />
            <span class="invalid-feedback">
              <span>
                Client Number is required.
              </span>
              <span>
                Client number should be whole
                number and unique
              </span>
            </span>
          </div>
        </div>


        <div formArrayName="clientAccData"
          *ngFor="let element of getForm.controls; let i = index">
          <div [formGroupName]="i">
            <legend>Account N{{i+1}} information:</legend>
            <button *ngIf="i !== 0"
            class="btn btn-danger"
                    (click)="removeAcc(i)">Remove this Account Number</button>
        <div class="form-group row">
          <label
            class="col-md-2 col-form-label"
            for="productNameId"
            >Accoun Number</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              type="text"
              formControlName='accNumber'
            />
            <span class="invalid-feedback">
              <span>
                Client Number is required.
              </span>
              <span>
                Client number should be whole
                number and unique
              </span>
            </span>
          </div>
        </div>



        <div class="form-group row">
          <label
            class="col-md-2 col-form-label"
            for="productCodeId"
            >Account Type</label
          >
          <div class="col-md-8">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName='accountType'
            >
              <option
                value=""
                disabled
                selected
                hidden
              >
                Select Account Type...
              </option>
              <option value="current">
                Current
              </option>
              <option value="economical">
                Economical
              </option>
              <option value="accumulative">
                Accumulative
              </option>
            </select>
            <span class="invalid-feedback">
              <span> Name is required </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label
            class="col-md-2 col-form-label"
            for="productCodeId"
            >Currency</label
          >
          <div class="col-md-8">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName='currencyType'
            >
              <option
                value=""
                disabled
                selected
                hidden
              >
                Select a Currency...
              </option>
              <option value="GEL">GEL</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              <option value="RUB">RUB</option>
            </select>
            <span class="invalid-feedback">
              <span> Name is required </span>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label
            class="col-md-2 col-form-label"
            for="productCodeId"
            >Account Status</label
          >
          <div class="col-md-8">
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName='accountStatus'
            >
              <option
                value=""
                disabled
                selected
                hidden
              >
                Select Account Status...
              </option>
              <option value="Acctive">
                Active
              </option>
              <option value="Closed">
                Closed
              </option>
            </select>
            <span class="invalid-feedback">
              <span> Name is required </span>
            </span>
          </div>
        </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row mb-2">
      <div class="col-md-4">
        <button
          class="btn btn-primary mr-3"
          style="width: 80px"
          type="button"
          title="Save your entered data"
          (click)="addAccount()"
        >
          Save
        </button>
        <button
          class="btn btn-outline-secondary mr-3 addAnother"
          style="width: 80px"
          type="button"
          title="Cancel your edits"
          (click)="AddForm()"
        >
          + One
        </button>
        <button
          class="btn btn-outline-warning"
          style="width: 80px"
          type="button"
          title="Delete this product"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf=""></div>
