<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand"
  routerLink='/welcome'>Client service app</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
      routerLink='/welcome'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      routerLink='/clients'>Client List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
      [routerLink]="['/client', 0, 'edit']">Add Client</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link">Product List (Alternate UI)</a>
    </li> -->
  </ul>
</nav>
